body 
{
	font-family:arial,"lucida console",sans-serif; 
	font-size:11px;
	margin:0px;
	padding:0px;
}
a{outline: none;}
div,
table,
table td
{
	margin:0px;
	padding:0px;
}


div.innerWrapper
{
	width:910px;
	text-align: left;
}


div#logo
{
	margin:25px 0 5px 0;
}

/*** top menu ***/
div#topMenu
{
	background: transparent url(images/menu_bg.png) repeat-x left top;
}

div#topMenu table#topMenu td
{
	border-left:1px #ffffff solid;
	border-right:1px #ffffff solid;
}
div#topMenu table#topMenu td a,
div#topMenu table#topMenu td a#active
{
	display:block;
	height:26px;
	width:100%;
	text-align: center;
	padding-top:14px;
	font-size:14px;
	font-weight:bold;
	color:#000000;
	text-decoration: none;
	outline: none;
}

div#topMenu table#topMenu td a#active,
div#topMenu table#topMenu td a:hover
{
	background: transparent url(images/menu_bg_hover.png) repeat-x left top;
	color:#ffffff;
}

/*** adds ***/
div.adds
{
	padding-top:28px;
	background: transparent url(images/adds_bg.png) repeat-x left top;
	height:330px;
}

/*** footer ***/
div.footer
{
	padding-top:25px;
	background: transparent url(images/footer_bg.png) repeat-x left top;
	height:220px;
}


/*** copyright ***/
div#copyright
{
	padding-top:25px;
	font-size:14px;
}

/*** body ***/
div#body
{
	font-size:16px;
}

div#body div.bodyWrapper
{
	padding: 35px 0 35px 0;
	min-height:300px;
	font-size:14px;
}	

div#body div td#contentTable_title
{
	font-size:18px;
	font-weight:bold;
	padding-bottom: 30px;
}

