body 
{
	font-family:arial,"lucida console",sans-serif;
	font-size:11px;
	background:#ffffff url("/ajax?method=getImage&imagePath=images/bg.jpg") repeat-x top left;
	margin:0px;
	padding:0px;
}

table#wrapper
{
	width:960px;
	text-align:left;
}

table td
{
	vertical-align: top;
}
