body 
{
	font-family:arial,"lucida console",sans-serif;
	font-size:11px;
	background:#ffffff url("/ajax?method=getImage&imagePath=images/bg.jpg") repeat-x top left;
	margin:0px;
	padding:0px;
}

table#wrapper
{
	width:960px;
	text-align:left;
}

table td
{
	vertical-align: top;
}
td.gap{width:3px;}
td#left
{
	width:190px;
}
td#right
{
	width:150px;
}
tr.header
{
	height:142px;
}
	

/** Logo **/
td#Logo
{
	width:100%;
	background: transparent url("images/logo.png") no-repeat scroll bottom left;
}
/** contactUs **/
td#contactUs
{
	width:100%;
	background: transparent url("images/contactUsAll.png") no-repeat scroll bottom right;
}

/** top menu **/
div.topMenu
{
	float:right;
	color:#777777;
}
	
div.topMenu a,
div.topMenu a:link
{
	outline: none;
	text-decoration: none;
	text-transform:uppercase;
	margin: 0 3px 0 3px;
	color:#777777;
}
div.topMenu a:hover
{
	color:#000000;
}

/** bottomMenu menu **/
div.bottomMenu
{
	margin-top:10px;
	text-align:center;
	color:#777777;
}
	
div.bottomMenu a,
div.bottomMenu a:link
{
	margin: 0 3px 0 3px;
	text-transform:uppercase;
	outline: none;
	text-decoration: none;
	color:#777777;
}
div.bottomMenu a:hover
{
	color:#000000;
}
