body 
{
	font-family:arial,"lucida console",sans-serif;
	font-size:11px;
	margin:0px;
	padding:0px;
}
a{outline: none;}
table#wrapper
{
	width:100%;
	text-align:left;
}

table td
{
	vertical-align: top;
}

table#wrapper td#top,
table#wrapper td#mid,
table#wrapper td#bottom
{
	padding: 0 0 0 60px;
}

table#wrapper td#top{background:#2D3444;}
table#wrapper td#bottom{background:#F1F1E9;}

td.menu
{
	/*background: transparent url(/stream?method=getImage&imagePath=images/menu_bg.png) repeat-x left top;*/
	padding:13px 0 16px 0;
}
td.menu div ul
{
	list-style: none;
	margin:0px;
	padding:0px;
}
td.menu div ul li
{
	float: left;
}

td.menu div ul li a,
td.menu div ul li a:link
{
	padding:0 15px 0 15px;
	text-decoration: none;
	text-transform:uppercase;
	font-size:14px;
	color:#ffffff;
}
td.menu div ul li a:hover
{
	color:#A40404;
}

td.mid
{
	color:#A40404;	
}
